:root {
    --color-bg-body: #0d1a2d;
    --color-bg-card: #15273f;
    --color-bg-card-shadow: #1d1d1b;
    --color-bg-search: #15273f;
    --color-bg-search-focus: #182f4d;
    --color-bg-search-shadow: #122236;

    --color-text-primary: #cccce9;
    --color-text-input: #a8a8af;
    --color-text-logo: #4f5b66;
    --color-text-logo-hover: #bebebe;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "flexo-medium";
  src: url("fonts/flexo-medium.woff2") format("woff2"),
       url("fonts/flexo-medium.woff") format("woff");
}

html{
    font-size: 10px;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    background-color: var(--color-bg-body);
}

p{
    font-size: 2rem;
    font-weight: 200;
}
p, h1, h2{
    color: var(--color-text-primary);
    font-family: "Outfit", sans-serif;
}

.pokemon__stats-title, .card__name-pokemon{
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
}

.card{
    background-color: var(--color-bg-card);
    border-radius: 1.5rem;
    border: 2px dashed var(--color-bg-card);
    box-shadow: var(--color-bg-card-shadow) .1rem .1rem 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    row-gap: 1rem;
    min-width: 36rem;
    min-height: 60rem;
    display: none;
}

.card__avatar-pokemon{
    align-self: center;
}

.card__avatar-img{
    width: 20rem;
    height: 20rem;
}



.card__type-pokemon, .card__id-pokedex{
    text-align: center;
}

.pokemon__search-container{
    background-color: var(--color-bg-search);
    box-shadow: var(--color-bg-search-shadow) .1rem .1rem .2rem;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    transition: background .55s ease;
}

.pokemon__search-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pokemon__search-input{
    max-width: 0;
    opacity: 0;
    width: 250px;
    background-color: transparent; 
    border: none; 
    color: var(--color-text-input);             
    outline: none;
    transition: max-width 0.55s ease, opacity 0.55s ease, color 0.55s ease;               
}

.pokemon__search-input::-webkit-search-cancel-button {
    display: none;
}

.pokemon__search-logo{
    font-size: 15px;
    color: var(--color-text-logo);
    cursor: pointer;
    transition: color .35s ease;
}

.pokemon__search-logo:hover, .pokemon__search-container:focus-within .pokemon__search-logo{
    color: var(--color-text-logo-hover);
}

.pokemon__search-icon:hover + .pokemon__search-input{
    max-width: 250px;
    opacity: 1;
    
}

.pokemon__search-container:hover .pokemon__search-input, .pokemon__search-input:focus, .pokemon__search-input.open{
    max-width: 250px;
    opacity: 1;
}

.pokemon__search-container:focus-within {
    background-color: var(--color-bg-search-focus);
}


